#categorybox {
    display: flex;
    width: 100%;
}

#categorybox .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#categorybox .container .text-center {
    border-radius: 50px;
    border: 20px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
    width: 270px;
    height: 180px;
    text-decoration:none;
}