{% extends "base.html" %} 

{% block head %} 
<!-- category.js file -->
<script type="text/javascript" src="{{ url_for('static', filename='/js/category.js') }}"></script>
<link rel="stylesheet" href="/static/css/category.css"/>
{% endblock %}

{% block title %}Category{% endblock %} 
{% block content %}
	
		<div class="container">
			<div class="text-center">
				<h2>SELECT CATEGORY</h2>
			</div>
		</div>
		<br>
		<!-- <hr> -->
		<div class="container" id="categorybox">
			<div class="container">
					
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Geography">
						<img src="{{ url_for('static', filename='/image/geo.jfif') }}" width="180" height="100">
						<div>GEOGRAPHY</div>
					</div>

					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Art">
						<img src="{{ url_for('static', filename='/image/art.jfif') }}" width="180" height="100">
						<div>ART</div>
					</div>
				
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Computer Science">
						<img src="{{ url_for('static', filename='/image/CS.png') }}" width="180" height="100">
						<div>COMPUTER SCIENCE</div>
					</div>
				
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Science">
						<img src="{{ url_for('static', filename='/image/science.jfif') }}" width="180" height="100">
						<div>SCIENCE</div>
					</div>
				
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Mythology">
						<img src="{{ url_for('static', filename='/image/mythology.jpg') }}" width="180" height="100">
						<div>MYTHOLOGY</div>
					</div>
				
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="TV shows">
						<img src="{{ url_for('static', filename='/image/tv_shows.jfif') }}" width="180" height="100">
						<div>TV SHOWS</div>
					</div>
				
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="Movie">
						<img src="{{ url_for('static', filename='/image/Movie.jpg') }}" width="180" height="100">
						<div>MOVIE</div>
					</div>
					
					<div class='col-md-5 text-center option btn btn-outline-secondary' id="">
						<img src="{{ url_for('static', filename='/image/all.jpg') }}" width="180" height="100">
						<div>ALL</div>
					</div>
				
			</div>
			</div>
			<div class="text-center"><a href='/game' class="btn btn-primary btn-lg" id="startgame">START</a></div>
			<div class='col-md-5 text-center option' style="visibility: hidden; display:inline;" id="category"></div>
		</div>
{% endblock %}