{% extends "base.html" %} 

{% block head %} 
<!-- category.js file -->
<script type="text/javascript" src="{{ url_for('static', filename='/js/category.js') }}"></script>
<link rel="stylesheet" href="/static/css/category.css"/>
{% endblock %}

{% block title %}Category{% endblock %} 
{% block content %}
	
		<div class="container">
			<div class="text-center">
				<h2>SELECT CATEGORY</h2>
			</div>
		</div>
		<br>
		<!-- <hr> -->
		<div class="container" id="categorybox">
			<div class="container">
				<!-- <form method="POST"> -->
					<button class="text-center" type="submit" name="searchbox" id="categories_geo">
						<img src="{{ url_for('static', filename='/image/geo.jfif') }}" width="180" height="100">
						<div>GEOGRAPHY</div>
					</button>
				<!-- </form> -->
					<button class="text-center" type="submit" name="art" id="categories_art">
						<img src="{{ url_for('static', filename='/image/art.jfif') }}" width="180" height="100">
						<div>ART</div>
					</button>
				
					<button class="text-center" type="submit" name="computer-science" id="categories_cs">
						<img src="{{ url_for('static', filename='/image/CS.png') }}" width="180" height="100">
						<div>COMPUTER SCIENCE</div>
					</button>
				
					<button class="text-center" type="submit" name="science" id="categories_s">
						<img src="{{ url_for('static', filename='/image/science.jfif') }}" width="180" height="100">
						<div>SCIENCE</div>
					</button>
				
					<button class="text-center" type="submit" name="mythology" id="categories_m">
						<img src="{{ url_for('static', filename='/image/mythology.jpg') }}" width="180" height="100">
						<div>MYTHOLOGY</div>
					</button>
				
					<button class="text-center" type="submit" name="TV-shows" id="categories_tv-s">
						<img src="{{ url_for('static', filename='/image/tv_shows.jfif') }}" width="180" height="100">
						<div>TV SHOWS</div>
					</button>
				
					<button class="text-center" type="submit" name="movie" id="categories_movie">
						<img src="{{ url_for('static', filename='/image/Movie.jpg') }}" width="180" height="100">
						<div>MOVIE</div>
					</button>
				
			</div>
		</div>
{% endblock %}