{% extends "base.html" %}
{% block title %} LeaderBoard {% endblock %}

{% block content %}

<h1 class='text-center'>Top Scores</h1>
<table class='table'>
	<tr>
		<th>Username</th>
		<th>Category</th>
		<th>Score</th>
	</tr>
	<tbody class='table-striped'>
		{% for s in scores %}
		<tr>
			<td>{{ s.username }}</td>
            <td>{{ s.category }}</td>
			<td>{{ s.score }}</td>
            {% if user.admin == 1 %}
                <td>
                    <form method="POST" action="{{url_for('admin.delete_score')}}">
                        <input id="score_id" name="score_id" value="{{ s.id }}" style="visibility: hidden;">
                        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                    </form>
                </td>
            {% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
    {% if user.admin == 1 %}
        <a href = '/admin' class = 'btn btn-primary'> Back</a>
        {% else %}
        <a href = '/' class = 'btn btn-primary'> Main Page</a>
    {% endif %}

{% endblock %}